<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miles.beauminity.mapper.login.MemberMapper">

    <!-- 입력된 아이디로 가입된 계정이 있는지 확인 -->
    <select id="findMemberById"
            parameterType="String"
            resultType="long">

        SELECT count(*)
        FROM member
        WHERE username = #{username}
    
    </select>

    <!-- 로그인된 회원의 정보 검색 -->
    <select id="findLoginId"
            parameterType="String"
            resultType="com.miles.beauminity.vo.login.MemberVO">

        SELECT *
        FROM member
        WHERE username = #{username}
    
    </select>
    
    <!-- 회원의 등급 이름 검색 -->
    <select id="findGradeName"
            parameterType="String"
            resultType="String">

        SELECT grade_name
        FROM grade
        WHERE grade_id = #{gradeId}

    </select>

    <!-- 새로운 회원 정보 등록 (회원가입) -->
    <insert id="insertMember"
            parameterType="com.miles.beauminity.vo.login.MemberVO">
    
        INSERT INTO member(
            username,
            grade_id,
            password,
            nickname,
            name,
            birthday,
            gender,
            email,
            phone,
            skin_type,
            personal_color
        ) VALUES (
            #{username},
            #{gradeId},
            #{password},
            #{nickname},
            #{name},
            #{birthday},
            #{gender},
            #{email},
            #{phone},
            #{skinType},
            #{personalColor}
        )

    </insert>

</mapper>