<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
  <body>

    <aside th:fragment="sidebarFragment" class="admin-sidebar">
      <div class="sidebar-logo">
        <a th:href="@{/}"><img th:src="@{/images/common/title.png}" alt="HWADAM"></a>
        <span class="admin-label">[ 관리자 모드 ]</span>
      </div>

      <div class="admin-profile">
        <strong><span class="admin-name" th:text="${#authentication.principal.nickname}">관리자명</span></strong> 님
      </div>

      <nav class="admin-nav">
        <ul>
          <li><a th:href="@{/admin}">대시보드</a></li>
          <li><a th:href="@{/admin/members}">회원 관리</a></li>
          <li><a th:href="@{/admin/posts}">게시글 관리</a></li>
          <li><a th:href="@{/admin/feeds}">피드 관리</a></li>
          <li><a th:href="@{/admin/replies}">댓글 관리</a></li>
          <li><a th:href="@{/admin/stores}">스토어 관리</a></li>
          <li><a th:href="@{/admin/logs}">관리 로그</a></li>
        </ul>
      </nav>
    </aside>

  </body>
</html>