<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/main.css}">
</head>
<body>

    <header th:fragment="headerFragment">
      <div class="header-container">
        <div class="logo">
          <a th:href="@{/}">
            <img th:src="@{/images/common/title.png}" alt="Beauminity" />
          </a>
        </div>

        <div class="auth-menu" sec:authorize="isAnonymous()">
          <a th:href="@{/login}" class="header-btn header-login-btn">로그인</a>
          <a th:href="@{/register}" class="header-btn header-register-btn"
            >회원가입</a
          >
        </div>

        <div class="auth-menu" sec:authorize="isAuthenticated()">
          <span class="user-nickname" sec:authentication="principal.nickname"
            >닉네임</span
          >님

          <a th:href="@{/mypage}" class="header-btn header-register-btn">
            <img
              th:src="@{/images/common/mypage.png}"
              alt="마이페이지"
              class="mypage-icon"
            />
          </a>

          <form th:action="@{/logout}" method="post" style="display: inline">
            <button type="submit" class="header-btn header-register-btn">
              로그아웃
            </button>
          </form>
        </div>
      </div>

        <div class="nav-bar">
            <div class="nav-container">
                <nav>
                    <ul>
                        <li><a th:href="@{/board/review}">후기 게시판</a></li>
                        <li><a th:href="@{/board/qna}">질문 게시판</a></li>
                        <li><a th:href="@{/board/infoshare}">정보공유 게시판</a></li>
                        <li><a th:href="@{/feed}">피드</a></li>
                    </ul>
                </nav>
            </div>
        </div>
      </div>
    </header>
  </body>
</html>
