<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miles.beauminity.mapper.TagMapper">
<!--사용자가 작성한 태그 DB에 저장-->
<insert id="postTag"
        parameterType="com.miles.beauminity.vo.feed.TagVO"
        useGeneratedKeys="true"
        keyProperty="tagId">
    insert into tag(
        tag_name
    )
    values(
        #{tagName}
    )
</insert>
<!--DB에 저장된 태그 아이디 불러오기-->
<select id="getTagNameList">
    select distinct tag_name
    from tag
    order by tag_id
</select>
<!-- 태그피드 테이블에 피드아이디와 태그아이디 저장-->
<insert id="tagFeed"
    parameterType="com.miles.beauminity.vo.feed.FeedTagVO"
    keyProperty="ftId">
    insert into feed_tag(
        feed_id,
        tag_id
    )
    values(
        #{feedId},
        #{tagId}
    )
</insert>
</mapper>