<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miles.beauminity.mapper.admin.AdminMemberMapper">

    <!-- 등록된 멤버 수 -->
    <!-- 검색 조건에 따른 페이지 번호를 위해 동적 쿼리 추가 -->
    <select id="countMembers"
            parameterType="com.miles.beauminity.vo.admin.AdminPageVO"
            resultType="long">

        SELECT count(*)
        FROM member
        <where>
            <choose>
                <when test="searchType != null and searchType == 'username'">
                    AND username = #{keyword}
                </when>
                <when test="searchType != null and searchType == 'nickname'">
                    AND nickname LIKE concat('%', #{keyword}, '%')
                </when>
                <when test="searchType != null and searchType == 'name'">
                    AND name LIKE concat('%', #{keyword}, '%')
                </when>
                <when test="searchType != null and searchType == 'email'">
                    AND email = #{keyword}
                </when>
                <when test="searchType != null and searchType == 'phone'">
                    AND phone = #{keyword}
                </when>
            </choose>
        </where>

    </select>

    <!-- 회원 목록 출력 -->
    <!-- 검색 조건에 목록을 출력하기 위해 동적 쿼리 추가 -->
    <select id="selectMembers"
            parameterType="com.miles.beauminity.vo.admin.AdminPageVO"
            resultType="com.miles.beauminity.vo.admin.AdminMemberVO">

        SELECT *
        FROM member
        <where>
            <choose>
                <when test="searchType != null and searchType == 'username'">
                    AND username = #{keyword}
                </when>
                <when test="searchType != null and searchType == 'nickname'">
                    AND nickname LIKE concat('%', #{keyword}, '%')
                </when>
                <when test="searchType != null and searchType == 'name'">
                    AND name LIKE concat('%', #{keyword}, '%')
                </when>
                <when test="searchType != null and searchType == 'email'">
                    AND email = #{keyword}
                </when>
                <when test="searchType != null and searchType == 'phone'">
                    AND phone = #{keyword}
                </when>
            </choose>
        </where>
        LIMIT #{offset}, #{size}

    </select>

    <!-- 한 명의 회원 정보 검색 -->
    <select id="getMemberInfo"
            parameterType="String"
            resultType="com.miles.beauminity.vo.admin.AdminMemberVO">

        SELECT *
        FROM member
        WHERE username = #{username}

    </select>

    <!-- 새로운 회원 등록 (관리자용)-->
    <!-- 관리자용에선 회원의 포인트와 등급을 설정해 추가할 수 있다. -->
    <insert id="insertMember"
            parameterType="com.miles.beauminity.vo.admin.AdminMemberVO">

        INSERT INTO member(
            username,
            password,
            nickname,
            name,
            birthday,
            gender,
            email,
            phone,
            skin_type,
            personal_color,
            point,
            role
        ) VALUES (
            #{username},
            #{password},
            #{nickname},
            #{name},
            #{birthday},
            #{gender},
            #{email},
            #{phone},
            #{skinType},
            #{personalColor},
            #{point},
            #{role}
        )

    </insert>

    <!-- 한 명의 회원 정보 수정 -->
    <update id="updateMemberInfo"
            parameterType="com.miles.beauminity.vo.admin.AdminMemberVO">

        UPDATE member
        SET
            skin_type = #{skinType},
            personal_color = #{personalColor},
            point = #{point},
            role = #{role}
        WHERE username = #{username}
    
    </update>

</mapper>