<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miles.beauminity.mapper.review_board.ReviewBoardMapper">




    <insert id="insertReviewBoard">
        INSERT INTO review_board (
            board_id,
            product_name,
            product_link,
            product_image,
            category1,
            category2
        ) VALUES (
            #{boardId},
            #{productName},
            #{productLink},
            #{productImage},
            #{category1},
            #{category2}
        )
    </insert>

   

    <select id="selectReviewBoardList" 
            resultType="com.miles.beauminity.vo.review.ReviewBoardVO">
        SELECT 
            m.board_id,
            m.username,
            mem.nickname,
            m.title,
            m.content,
            m.created_at,
            m.edited_at,
            m.view_cnt,
            m.like_cnt,
            m.reply_cnt,
            r.product_name,
            r.product_link,
            r.product_image,
            r.category1,
            r.category2
        FROM master_board m
        INNER JOIN review_board r on m.board_id = r.board_id
        INNER JOIN member mem on m.username = mem.username 
        WHERE m.board_type = 'REVIEW'
        ORDER BY m.board_id desc;
    </select>

    <select id="selectReviewBoardDetail" 
            parameterType="long"
            resultType="com.miles.beauminity.vo.review.ReviewBoardVO">
            SELECT 
                m.board_id,
                m.username,
                mem.nickname,
                m.title,
                m.content,
                m.created_at,
                m.edited_at,
                m.view_cnt,
                m.like_cnt,
                m.reply_cnt,
                r.product_name,
                r.product_link,
                r.product_image,
                r.category1,
                r.category2
            FROM master_board m
            INNER JOIN review_board r ON m.board_id = r.board_id
            INNER JOIN member mem ON m.username = mem.username
            WHERE m.board_id = #{boardId}
    </select>

    <select id="selectFilesByBoardId" 
            parameterType="long" 
            resultType="com.miles.beauminity.vo.board.MasterBoardFileVO">
        SELECT 
            board_id,
            file_id,
            original_name,
            saved_name,
            file_path,
            file_type,
            file_size
        FROM board_file
        where board_id = #{boardId}
    </select>
            
</mapper>