<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miles.beauminity.mapper.board.MasterBoardMapper">

    <!-- 게시글 게시(구현 완료)  -->
    <!-- 테스트 유저 등록 확인.-->
    <!-- 지금 로그인 중인 작성자명을 DB에 넣으려면 어떻게 해야할까요? 이 부분도 연구해야겠다싶네요. -->
    <insert id="insertBoard" parameterType="com.miles.beauminity.vo.board.MasterBoardVO" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO master_board
        (username, board_type, title, content, created_at, edited_at
        )
        VALUES (#{username}, #{boardType}, #{title}, #{content}, NOW(), NOW()
        )
    </insert>

    <!-- 닉네임 불러오기 -->
    <!-- 특정 게시판의 작성자 이름을 조인해서 닉네임을 불러옵니다 -->

    

    <!-- 특정 게시판 게시글 전체조회 -->
    <!-- 게시글을 특정 게시판에 맞출려면 각 컨트롤러랑 서비스 단에서 boardType을 명시해서 전달해야 한다. 
    하지만 추후에 페이징을 넣을 것을 고려하면... 페이지 vo가 따로 있을 것이다. 
    그렇기 때문에 파라미터 타입을 다르게 해서 집어넣어야겠다...
    다르게 해서 집어넣을 수 있는 좋은 방법이 없을까? 를 고민하다가 나온 게 HashMap을 사용하는 것입니다.
    처음 해보는 거라 저도 잘 될 지는 모르겠는데... 그러므로 일단은 등록 먼저 하고 마저 건드려보겠습니다.
    지금은 역시 등록이 먼저인 거 같네요. -->

    <!-- 특정 게시판 조회 매퍼 -->
    <!-- 임시입니다. 페이징을 추가할 때 수정합니다. 지금은 수정, 삭제, 상세조회 기능을 만들기 위해 뒀습니다. -->
    <select id="getTypeBoard" 
        parameterType="com.miles.beauminity.vo.board.TypeOffsetVO"
        resultType="com.miles.beauminity.vo.board.MasterBoardVO">
        SELECT *
        FROM master_board
        WHERE board_type = #{type} AND deleted = 0
        ORDER BY board_id DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 특정게시판 조회 매퍼 조회수 순으로 -->
    <select id="getTypeBoardByOrder" 
        parameterType="com.miles.beauminity.vo.board.TypeOffsetVO"
        resultType="com.miles.beauminity.vo.board.MasterBoardVO">
        SELECT *
        FROM master_board
        WHERE board_type = #{type} AND deleted = 0
        ORDER BY view_cnt DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 특정게시글 조회 쿼리  -->
    <select id="getOneBoard" 
            parameterType="Long">
        SELECT *
        FROM master_board
        WHERE board_id = #{value}
    </select>

    <!-- 특정게시글을 조회할 시 조회수를 올리는 쿼리 -->
    <update id="viewUp"
            parameterType="Long">
            UPDATE master_board
            SET view_cnt = view_cnt+1
            WHERE board_id = #{value}
    </update>

    <!-- 게시글  삭제 쿼리. 단 삭제는 어디까지나 상태변경... -->
    <update id="deleteBoard"
        parameterType="Long">
        UPDATE master_board
        SET deleted = 1
        WHERE board_id = #{value}
    </update>

    <!-- 게시글 수정 쿼리 -->
    <update id="updateBoard"
        parameterType="com.miles.beauminity.vo.board.MasterBoardVO">
        UPDATE master_board
        SET title = #{title},
        content = #{content},
        edited_at = NOW()
        WHERE board_id = #{boardId}
    </update>

    <!-- 전체 게시판 별 등록한 글의 수 조회  -->
    <select id="getTypeBoardCount" 
        parameterType="String"
        resultType="Int">
        SELECT COUNT(*)
        FROM master_board
        WHERE board_type = #{value} AND deleted = 0
    </select>

    <!-- 회원의 게시판 별 등록한 글 수 조회 -->
    <select id="countBoard"
            parameterType="String"
            resultType="map">

        SELECT board_type, count(*) as count
        FROM master_board
        WHERE username = #{member.username} AND deleted = 0
        GROUP BY board_type

    </select>

    <!-- 닉네임 조회 -->
    <select id="getNicknameByBoardId"
            parameterType="Long"
            resultType="String">
        SELECT nickname
        FROM member
        WHERE username = (SELECT username
                            FROM master_board
                            WHERE board_id = #{value})
    </select>

    <!-- 게시글 검색 -->
    <select id="getSearchBoard" 
        parameterType="com.miles.beauminity.vo.board.SearchVO"
        resultType="com.miles.beauminity.vo.board.MasterBoardVO">
        SELECT *
        FROM master_board
        WHERE board_type = #{type} AND (title LIKE CONCAT('%', #{str}, '%') OR content LIKE CONCAT('%', #{str}, '%')) AND deleted = 0
        ORDER BY board_id DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 게시글 검색 :: 제목-->
    <select id="getSearchBoardByTitle" 
        parameterType="com.miles.beauminity.vo.board.SearchVO"
        resultType="com.miles.beauminity.vo.board.MasterBoardVO">
        SELECT *
        FROM master_board
        WHERE board_type = #{type} AND title LIKE CONCAT('%', #{str}, '%') AND deleted = 0
        ORDER BY board_id DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 게시글 수 확인 :: 제목-->
    <select id="getCountSearchBoardByTitle" 
        parameterType="com.miles.beauminity.vo.board.SearchVO"
        resultType="Int">
        SELECT COUNT(*)
        FROM master_board
        WHERE board_type = #{type} AND title LIKE CONCAT('%', #{str}, '%') AND deleted = 0
        ORDER BY board_id DESC
    </select>

    <!-- 게시글 검색 :: 내용-->
    <select id="getSearchBoardByContent" 
        parameterType="com.miles.beauminity.vo.board.SearchVO"
        resultType="com.miles.beauminity.vo.board.MasterBoardVO">
        SELECT *
        FROM master_board
        WHERE board_type = #{type} AND content LIKE CONCAT('%', #{str}, '%') AND deleted = 0
        ORDER BY board_id DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 게시글 작성자 찾기 -->
    <select id="getUsernameByBoardId"
            parameterType="Long"
            resultType="String">
            SELECT username
            FROM master_board
            WHERE board_id = #{value}
    
    </select>
    <!-- 탈퇴한 회원의 게시글 변경 -->
    <update id="withdrawBoard"
            parameterType="string">
        UPDATE master_board
        SET username="deleted_user",deleted=1
        where username=#{username}
    </update>

    

</mapper>